<div class="row">
  <div class="col-sm-12" id="currentTasks-bg">
    <h3>Task List</h3>
  </div>
</div> <!-- end row -->
<div class="row" ng-controller='todoController'><!-- link todoController wrapper-->
  <form class="form-inline" name="frm" ng-submit="addTodo()" id="form-border">
    <input type="text" name="newtodo" ng-model="newtodo" required="" id="inputform" />
    <button ng-disabled="frm.$invalid">Go</button>
    <button ng-click="clearCompleted()">Clear Completed</button>
  </form>
  <ul>
    <li ng-repeat="todo in todos">
      <input type="checkbox" ng-model="todo.done" />
      <span ng-class="{'done':todo.done}" id="donetask">{{todo.title}}</span><!-- add line-through when task is done-->
    </li>
  </ul>
      
</div><!-- end of todoController -->