
.container{  

  margin-top:30px;
  padding-bottom:10px;
  
}

.done{
  text-decoration: line-through;
  color:purple;
}


ul {
  background-color:#C6E35F;
}

#currentTasks-bg{
  
  margin-bottom:1px;
  width:100%;
}

#form-border{
  margin-top:20px;
}
#inputform{
  width:300px;
}

.hiRank{
  visibility: visible;
}

.hiRank-off{
  visibility:hidden;
  
}